    telegram_token = "telegram_token"
    telegram_chat_id = <123456789:chat_id>
    check_interval_success = 5000
    check_interval_fail = 1000
    notify_failures = 5
    rereport = 100
    addresses = [
        "https://example.com/",
        "https://invalid.dl",
        "htttps://example.com/",
        "non sense"
    ]
